<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/chat.css">
    <title>Chat with <%= other_user.username %>  </title>
</head>
<body>
    <h2>Your chat with user <%= other_user.username %> </h2>

    <div class="page-wrapper">

      <div class="input-and-message-wrapper-grid">
        <div class="message-wrapper-grid" id="message-window">

                <h1><%= messages.length %> </h1>
           <% for(let i = 0; i < messages.length; i++){ %> 
                  
            <% if(messages[i].from_id == user._id){ %> 
              <div class="one-message right-message-grid">
                <div class="empty"></div><div class="time"><%= messages[i].sent_date %> ></div><div class="message"><%= messages[i].text %></div>
              </div>

              <% }else if(messages[i].from_id == other_user._id){ %> 
                <div class="one-message left-message-grid">
                  <div class="message"><%= messages[i].text %> </div><div class="time">2.25pm</div><div class="empty"></div>
                </div>
                    <% } %>  

                    <!-- <% if(i===messages.length-1){   %> 
                         
                      <div class="one-message left-message-grid" id="autofocus" autofocus >
                        <div class="message"> AUTOFOCUS </div><div class="time">2.25pm</div><div class="empty"></div>
                      </div>   
    
                      <% } %>  -->
            <% } %> 

            <!-- <div></div> -->
        </div>
          <div class="message-input-holder">
            <div class="input-flex">
            <input type="text" name="" class="input-message" id="input_message">
          </div>
          <div class="button-flex">
            <button class="button-holder" id="send">
              Send
            </button>
          </div>
          </div>
      
      </div>

</div>
<!-- <h2><%= JSON.stringify(other_user) %></h2>
<h2><%= JSON.stringify(user) %></h2> -->
<div id="users-data" style="display: none" data-user="<%= JSON.stringify(user)%>" data-other="<%= JSON.stringify(other_user) %>" ></div>

<script src="/js/chat-script.js"></script>
</body>
</html>